<div class="container">
  <div class="card-content">
    <div class="center-align">
      <span class="card-title bold">Shopping Cart</span>
        <ul class="collection">
          {{#each model as |item|}}
            <li class="collection-item avatar">
              <img src="{{item.imageUrl}}" alt="" class="circle">
              <span class="title">{{item.name}}</span>
              <p>{{item.quantity}}<br>

              </p>
              <a href="#" {{action 'removeItem' item}} class="secondary-content">Remove</a>
            </li>
          {{/each}}
        </ul>
    </div>
  </div>
</div>
